.doc-detail{
  .card-info{
    width: 100%;
    box-sizing: border-box;
    background: $white;
    padding: 2.5rem 2.5rem;
    display: flex;
    img{
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      vertical-align: top;
    }
    .info{
      margin-left: 2.5rem;
      h1{
        font-size: 1.6rem;
        font-weight: normal;
        color: $color4c;
      }
      p{
        font-size: 1.2rem;
        color: $pColor;
        line-height: 1.6rem;
        &:nth-child(2){
          margin-top: .6rem;
        }
      }
    }
  }
  .introduce{
    margin-top: .6rem;
    &-content{
      background: $white;
      padding: 2rem;
      &-title{
        display: flex;
        color: $deepBlue;
        i{
          font-size: 3rem;
        }
        h2{
          font-size: 1.4rem;
          display: flex;
          align-items: center;
        }
      }
      .advantage{
        width: 100%;
        padding-left: .9rem;
        margin-top: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        .tips{
          background: $deepBlue;
          border-radius: .2rem .8rem .8rem .2rem;
          font-size: 1.2rem;
          color: $white;
          text-align: center;
          padding: .3rem .3rem .3rem 1rem;
          display: inline-block;
          float: left;
          margin-right: 1rem;
          i{
            vertical-align: middle;
          }
        }
        p{
          font-size: 1.4rem;
          color: $pColor;
          width: 23rem;
          margin-left: 9rem;
          box-sizing: border-box;
          line-height: 2.4rem;
        }
        &:nth-child(3) {
          margin-top: 1.5rem;
        }
      }
    }
    &-know{
      border: 1px dashed #e05353;
      margin: 3.5rem .9rem 0;
      padding: 1rem;
      box-sizing: border-box;
      &-title{
        display: flex;
        color: #e05353;
        i{
          font-size: 2rem;
          margin-right: .5rem;
        }
        h2{
          font-size: 1.4rem;
          display: flex;
          align-items: center;
        }
      }
      p{
        font-size: 1.2rem;
        color: #808080;
        margin-top: 1rem;
        line-height: 1.5;
      }
    }
  }
  .btn{
    background: $white;
    padding: 5rem 0;
    a{
      width: 11.7rem;
      height: 3.2rem;
      line-height: 3.2rem;
      border-radius: 1.6rem;
      @include a;
    }
  }
}