.med-detail{
  .mint-swipe{
    height: 17rem;
    &-items-wrap{
      .mint-swipe-item{
        img{
          width: 100%;
          height: 100%;
          vertical-align: top;
        }
      }
    }
  }
  h2{
    font-size: 1.6rem;
    color: $color4c;
    border-bottom: 1px solid #dddde1;
    padding: 1.5rem .8rem;
    background: $white;
    span{
      float: right;
      font-size: 1.6rem;
      color: #5495e0;
      em{
        font-size: 1.2rem;
        color: #808080;
        font-style: normal;
        margin-left: 1rem;
      }
    }
  }
  .info{
    margin-top: .6rem;
    background: $white;
    padding: 1rem;
    &-one, &-two, &-three{
      &-title{
        width: 8rem;
        background: $deepBlue;
        color: $white;
        font-size: 1.2rem;
        text-align: center;
        border-radius: .4rem;
        padding: .3rem 0;
      }
      p{
        margin: 1rem 0;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        li{
          width: 17.5rem;
          img{
            width: 100%;
            vertical-align: top;
            margin-bottom: .5rem;
          }
          &:nth-child(2n+1) {
            margin-right: .5rem;
          }
        }
      }
    }
  }
  .btn{
    text-align: center;
    margin: 2rem 0 4.4rem;
    button{
      @include btn;
      width: 11.7rem;
      height: 3.2rem;
      border-radius: 1.6rem;
    }
  }
}