.med-detail{
  .mint-swipe{
    height: 17rem;
    &-items-wrap{
      .mint-swipe-item{
        img{
          width: 100%;
          height: 100%;
          vertical-align: top;
        }
      }
    }
  }
  h2{
    font-size: 1.6rem;
    color: $color4c;
    border-bottom: 1px solid #dddde1;
    padding: 1.5rem .8rem;
    background: $white;
    span{
      float: right;
      font-size: 1.6rem;
      color: #5495e0;
      em{
        font-size: 1.2rem;
        color: #808080;
        font-style: normal;
        margin-left: 1rem;
      }
    }
  }
  .info{
    margin-top: .6rem;
    background: $white;
  }
  .btn{
    text-align: center;
    button{
      @include btn;
      width: 11.7rem;
      height: 3.2rem;
      border-radius: 1.6rem;
    }
  }
  .mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .5);
    z-index: 1;
  }
  .msgbox{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    border-radius: 3px;
    background: $white;
    transform: translate3d(-50%, -50%, 0);
    padding: 55px 3.7rem;
    box-sizing: border-box;
    z-index: 2;
    i{
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2rem;
      color: #488edd;
    }
    h1{
      font-size: 16px;
      color: $deepBlue;
      font-weight: normal;
      text-align: center;
      margin-bottom: 20px;
    }
    &-field{
      display: flex;
      width: 100%;
      height: 2.8rem;
      border-bottom: 1px solid #488edd;
      padding: 0 1rem;
      box-sizing: border-box;
      margin-top: 10px;
      span{
        width: 8rem;
        text-align: right;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: #535353;
      }
      input{
        border: 0;
        width: 15rem;
        font-size: 1.4rem;
      }
    }
    .btn{
      margin-top: 30px;
    }
  }
}